<% content_for :title, "Messages" %>

<div class="row justify-content-center align-self-center">
  <header class="section-header mb-5" style="padding-top: 150px;">
    <h3>Messages</h3>
  </header>

  <div class="container mb-5" style="width: 1000px" class="mx-auto">
    <div class="panel panel-default">
      <% if @over_five %>
        <%= link_to 'Show All', '?m=all', class:"tooltips, btn text-white mb-2 ml-4" %>
      <% end %>
      <%= link_to '&times;'.html_safe, '/conversations', 
      { :class => 'tooltips, btn text-white mb-2 ml-4', 'data-toggle' => 'tooltip', 
      'data-placement' => 'top', :title => 'Back to Inbox'} %>

      <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
    </div>

    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="mesgs container-fluid">
            <div class="msg_history">
              <div class="incoming_msg">
                <div class="incoming_msg_img"> 
                  <% if message.user.image.url %>
                    <%= image_tag message.user.image.url, class: 'mr-0 rounded-circle img-circle img-responsive', style: "width: 30px; height: 30px;" %>
                  <% else %>
                    <%= image_tag 'avatar.png', style: "width: 30px; height: 30px;", class: "mr-0 rounded-circle img-circle img-responsive" %>
                  <% end %> 
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <h5 class="mb-2"> <%= user.full_name.titleize %></h5>
                    <h6 class="text-primary" style="font-size: 14px; margin-top: -5px;">@<%= link_to user.username %></h6>
                    <p><%= message.body %></p>
                    <span class="time_date mb-3"> <%= local_time(message.created_at) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="type_msg ml-4">
        <%= form_for [@conversation, @message] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
          <div class="form-group">
            <%= f.submit "Send Reply", class: "btn btn-primary btn-sm text-white align-center" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<style>
.glyphicon.glyphicon-log-out {
  font-size: 20px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.incoming_msg_img {
  display: inline-block;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 150%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { 
  width: 57%;
}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: auto;
  overflow-y: auto;
}

</style>