<article class="card-body mx-auto" style="max-width: 400px; padding-top: 150px;">
  <header class="section-header mb-5">
    <h3>Resend confirmation <span class="text-primary"> instructions</span></h3>
  </header>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <small><%= render "devise/shared/error_messages", resource: resource %></small>
    <br>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
      </div>
      <%= f.email_field :email, autofocus: false, class: "form-control", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Enter email address" %>
    </div>

    <div class="form-group actions">
      <%= f.submit "RESEND CONFIRMATION INSTRUCTIONS", class: "btn btn1 btn-block text-white" %>
    </div>
    <p class="text-center btn btn1"><%= link_to "Back", :back %></p>
  <% end %>
</article>



