<div class="container">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-body">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-2 col-md-1">

              <% if comment.user.image.url %>
                <%= image_tag comment.user.image.url, class: 'rounded-circle', style: "width: 30px; height: 30px;" %>
              <% else %>
                <%= image_tag 'avatar.png', style: "width: 35px; height: 35px;", class: "rounded-circle ml-1" %>
              <% end %>
            </div>
            <div class="col-xs-10 col-md-11 ml-0">
              <div>
                <strong><%= comment.user.full_name.titleize %></strong>
                <div class="mic-info">
                  <p>Posted on <%= local_time(comment.created_at) %></p>
                </div>
              </div>
              <div class="comment-text">
                <%= comment.body %>
              </div>
              <div class="action">
                <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
                <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger"), 
                  [comment.idea, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.widget li.list-group-item:hover { background-color: #f2f2f2; }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
</style>