<%= form_with(model: idea, local: true, multipart: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation" class="text-center text-danger">
      <h4>Oops! You've got <%= pluralize(idea.errors.count, "error") %></h4>

      <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="container col-sm-6">
    <div class="row m-3">
      <div class="col-sm-12 form-group">
        <%= form.label :idea_title, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :title, maxlength: "23", class: "form-control", placeholder: "What would you call your idea?"  %>
      </div>
      <div class="col-sm-12 form-group">
        <%= form.label :idea_category, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.collection_select(:category_id, Category.all, :id, :name, 
            {prompt: 'What category does your idea fall into?'}, class: "form-control") %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :idea_description, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :description, class: "form-control tinymce", placeholder: "How would you describe your idea in 5 sentences?"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :problem, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :challenges, class: "form-control tinymce", placeholder: "How would you describe the problem your idea is solving?"%>
        <%= tinymce %>
      </div>
      
      <div class="form-group col-sm-12">
        <%= form.label :solution, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :overview, class: "form-control tinymce", placeholder: "How are you solving this problem?"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :impact, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_area :impact, class: "form-control tinymce", placeholder: "How would your idea impact the world?"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :funding_goal, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.text_field :donation_goal, class: "form-control tinymce", placeholder: "How much would it cost to implement your idea?"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :campaign_expiry_date, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.date_field :end_date, class: "form-control tinymce", placeholder: "How much time do you need to raise the funding you need?"%>
        <%= tinymce %>
      </div>

      <div class="field">
        <%= form.text_field :user_id, value: current_user.id, class: 'd-none' %>
      </div>
    
      <div class="col-sm-12">
        <%= form.label :idea_image, class: "text-primary", style: "font-size: 18px;" %>
        <%= form.file_field :image %>
      </div>
            
      <div class="col-sm-12">
        <%= form.hidden_field :image_cache %>
      </div>

      <br>
      <hr/>
      <div class="col-sm-12 form-group">
        <h3>Perks</h3>
    
        <div data-controller="nested-form">
          <template data-target='nested-form.template'>
            <%= form.fields_for :perks, Perk.new, child_index: 'TEMPLATE_RECORD' do |perk| %>
              <%= render 'perk_fields', form: perk %>
            <% end %>
          </template>
    
          <%= form.fields_for :perks do |perk| %>
            <%= render 'perk_fields', form: perk %>
          <% end %>
    
          <div data-target="nested-form.add_perk">
            <%= link_to "Add Perk", "#", data: { action: "nested-form#add_association" }, class: "btn btn1 text-white" %>
          </div>
        </div>
      </div>
    
    </div>
    <div class="form-group col-sm-12 m-0" style="padding-left: 30px; padding-right: 30px; padding-bottom: 130px;">
      <%= form.submit class: "actions btn btn1 text-white float-right" %>
      <%= link_to 'Back', :back, class: "btn btn1 text-white"  %>
    </div>
  </div>
<% end %>
