<%= form_with(model: idea, local: true, multipart: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="container col-sm-6">
    <div class="row m-3">
      <div class="col-sm-12 form-group">
        <%= form.label :title %>
        <%= form.text_field :title, maxlength: "23", class: "form-control", placeholder: "Title"  %>
      </div>
      <div class="col-sm-12 form-group">
        <%= form.label :category %>
        <%= form.select :category, options_for_select([
          ['Agriculture'], 
          ['Arts & Culture'], 
          ['Beauty & Fashion'], 
          ['Business'],
          ['Community'],
          ['Design'],
          ['Education'],
          ['Entertainment'],
          ['Food'],
          ['Gadgets'],
          ['Internet'],
          ['IT & Telecoms'],
          ['Kids'],
          ['Media & Publishing'],
          ['Recipes'],
          ['Renewable Energy'],
          ['Science & Technology'],
          ['Social Networks'],
          ['Social & Organization'],
          ['Sports & Hobbies'],
          ['Startups'],
          ['Sustainability'],
          ['Tourism & Travel'],
          ['Transportation'],
          ['Web & Applications'],
          ['Writings'],
          ['Other']
          ]), {}, :class => 'form-control', :prompt => 'Select Category' %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control tinymce", placeholder: "Enter a brief description of your idea"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :overview %>
        <%= form.text_area :overview, class: "form-control tinymce", placeholder: "Enter an overview of your idea"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :challenges %>
        <%= form.text_area :challenges, class: "form-control tinymce", placeholder: "Enter the challenges faced by your idea"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :impact %>
        <%= form.text_area :impact, class: "form-control tinymce", placeholder: "How would your idea impact the world?"%>
        <%= tinymce %>
      </div>

      <div class="form-group col-sm-12">
        <%= form.label :donation_goal %>
        <%= form.text_field :donation_goal, class: "form-control tinymce", placeholder: "Enter your donation goal"%>
        <%= tinymce %>
      </div>

      <div class="field">
        <%= form.text_field :user_id, value: current_user.id, class: 'd-none' %>
      </div>
    
      <div class="col-sm-12">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>
            
      <div class="col-sm-12">
        <%= form.hidden_field :image_cache %>
      </div>

      <br>
      <hr/>
      <div class="col-sm-12 form-group">
        <h3>Perks</h3>
    
        <div data-controller="nested-form">
          <template data-target='nested-form.template'>
            <%= form.fields_for :perks, Perk.new, child_index: 'TEMPLATE_RECORD' do |perk| %>
              <%= render 'perk_fields', form: perk %>
            <% end %>
          </template>
    
          <%= form.fields_for :perks do |perk| %>
            <%= render 'perk_fields', form: perk %>
          <% end %>
    
          <div data-target="nested-form.add_perk">
            <%= link_to "Add Perk", "#", data: { action: "nested-form#add_association" }, class: "btn btn1 text-white" %>
          </div>
        </div>
      </div>
    
    </div>
    <div class="form-group col-sm-12 m-0" style="padding-left: 30px; padding-right: 30px; padding-bottom: 130px;">
      <%= form.submit class: "actions btn btn1 text-white float-right" %>
      <%= link_to 'Back', :back, class: "btn btn1 text-white"  %>
    </div>
  </div>
<% end %>
