<div class="p-6 mb-5 border rounded nested-fields">

  <%= form.hidden_field :_destroy %>

  <div class="mb-6 col-sm-12 form-group">
    <%= form.label :category %>
    <%= form.text_field :title, class: "input form-control" %>
  </div>

  <div class="mb-6 col-sm-12 form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "input form-control" %>
  </div>

  <div class="mb-6 col-sm-12 form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, placeholder: "0.00", class: "input form-control" %>
  </div>

  <div class="mb-6 col-sm-12 form-group">
    <%= form.hidden_field :quantity %>
    <%= form.hidden_field :quantity, placeholder: "10", class: "input form-control" %>
  </div>

  <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class: "text-primary underline text-sm col-sm-12" %>

</div>
