<main id="main">
  <section id="why-us">
    <div class="container-fluid">  
      <header class="section-header" style="padding-top: 90px;">
        <h3>Discover <span class="text-primary"> Ideas</span></h3>
        <p style="font-size: 18px;">Explore creative and innovative ideas across Africa
        </p>
      </header>
    </div>
  
    <div class="site-section ideas-entry-wrap mt-0" style="margin-top: 0px;" data-aos="fade" data-aos-delay="100">
      <div class="container">
        <!-- <div class="form-group col-sm-3">
          <%= render partial: "layouts/categories" %>  
        </div> -->
        <%= render partial: "layouts/ideas" %>
        <div class="row justify-content-center mt-5">
          <div class="col-7 text-center"> 
            <% if @page > 0 %>
            <%= link_to 'Prev', ideas_path(page: @page - 1), class: "btn btn1 rounded-pill text-white mr-1" %>
            <% end %>
            <% if @ideas.count >= 6 %>
            <%= link_to 'Next', ideas_path(page: @page + 1), class: "btn btn1 rounded-pill text-white ml-1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render partial: "layouts/counter" %>


  <%= render partial: "layouts/cta" %>

  
  <%= render partial: "layouts/faq" %>

</main>