<main id="main">
  <section id="why-us">
    <div class="container-fluid">  
      <header class="section-header" style="padding-top: 90px;">
        <h3>Discover <span class="text-primary"> Ideas</span></h3>
        <p style="font-size: 18px;">Explore creative and innovative ideas across Africa
        </p>
      </header>
    </div>
  
    <div class="site-section ideas-entry-wrap mt-0" style="margin-top: 0px;" data-aos="fade" data-aos-delay="100">
      <div class="container">
        <!-- <div class="form-group col-sm-3">
          <select class="form-control">
            <option disabled selected>Sort By Categories</option>
            <option value="1">Agriculture</option>
            <option value="2">Arts & Culture</option>
            <option value="3">Beauty & Fashion</option>
            <option value="4">Business</option>
            <option value="5">Community</option>
            <option value="6">Design</option>
            <option value="7">Education</option>
            <option value="8">Entertainment</option>
            <option value="9">Food</option>
            <option value="10">Gadgets</option>
            <option value="11">Internet</option>
            <option value="12">IT & Telecoms</option>
            <option value="13">Kids</option>
            <option value="14">Media & Publishing</option>
            <option value="15">Recipes</option>
            <option value="16">Renewable Energy</option>
            <option value="17">Science & Technology</option>
            <option value="18">Social Networks</option>
            <option value="19">Social & Organization</option>
            <option value="20">Sports & Hobbies</option>
            <option value="21">Startups</option>
            <option value="22">Sustainability</option>
            <option value="23">Tourism & Travel</option>
            <option value="24">Transportation</option>
            <option value="25">Web & Applications</option>
            <option value="26">Writings</option>
            <option value="27">Other</option>
          </select>
        </div> -->
        <%= render partial: "layouts/ideas" %>
        <div class="row justify-content-center mt-5">
          <div class="col-7 text-center"> 
            <% if @page > 0 %>
            <%= link_to 'Prev', ideas_path(page: @page - 1), class: "btn btn1 rounded-pill text-white mr-1" %>
            <% end %>
            <% if @ideas.count >= 6 %>
            <%= link_to 'Next', ideas_path(page: @page + 1), class: "btn btn1 rounded-pill text-white ml-1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render partial: "layouts/counter" %>


  <%= render partial: "layouts/cta" %>

  
  <%= render partial: "layouts/faq" %>

</main>