<main id="main">
  <section id="why-us">
    <div class="container-fluid">  
      <header class="section-header" style="padding-top: 90px;">
        <h3>Discover <span class="text-primary"> Ideas</span></h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>
    </div>
    
    <div class="site-section ideas-entry-wrap mt-0" style="margin-top: 0px;" data-aos="fade" data-aos-delay="100">
      <div class="container">
      <% if user_signed_in? %>
      <%= link_to 'New Idea', new_idea_path, class: "btn btn1 rounded-pill text-white float-right", style: "margin-right: 13px;" %>
      <% end %>
        <div class="form-group col-sm-3">
          <select class="form-control">
            <option disabled selected>Sort By Categories</option>
            <option value="1">Agriculture</option>
            <option value="2">Arts & Culture</option>
            <option value="3">Beauty & Fashion</option>
            <option value="4">Business</option>
            <option value="5">Community</option>
            <option value="6">Design</option>
            <option value="7">Education</option>
            <option value="8">Entertainment</option>
            <option value="9">Food</option>
            <option value="10">Gadgets</option>
            <option value="11">Internet</option>
            <option value="12">IT & Telecoms</option>
            <option value="13">Kids</option>
            <option value="14">Media & Publishing</option>
            <option value="15">Recipes</option>
            <option value="16">Renewable Energy</option>
            <option value="17">Science & Technology</option>
            <option value="18">Social Networks</option>
            <option value="19">Social & Organization</option>
            <option value="20">Sports & Hobbies</option>
            <option value="21">Startups</option>
            <option value="22">Sustainability</option>
            <option value="23">Tourism & Travel</option>
            <option value="24">Transportation</option>
            <option value="25">Web & Applications</option>
            <option value="26">Writings</option>
            <option value="27">Other</option>
          </select>
        </div>
        <%= render partial: "layouts/ideas" %>
        <div class="row justify-content-center mt-5">
          <div class="col-7 text-center"> 
            <% if @page > 0 %>
            <%= link_to 'Prev', ideas_path(page: @page - 1), class: "btn btn1 rounded-pill text-white" %>
            <% end %>
            <% if @ideas.count >= 6 %>
            <%= link_to 'Next', ideas_path(page: @page + 1), class: "btn btn1 rounded-pill text-white" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
       Counter Section
  ============================-->
  <section id="why-us" class="wow fadeIn bg-light mx-auto">
    <div class="container-fluid">
      
      <header class="section-header mt-5">
        <h3>Brainstaq in<span class="text-primary"> Numbers</span></h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>
    </div>
    <div class="container mt-3">
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,274</span>
          <p>Ideas Shared</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">421</span>
          <p>Brainers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">64</span>
          <p>Campaigns</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">50</span>
          <p>Projects Funded</p>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Join the Movement</h3>
          <p class="cta-text">
            Share, validate and market your ideas 
            and projects, and attract cofounders and investors
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <%= link_to 'Discover Innovative Ideas', ideas_path, class: 'btn rounded-pill', style: "color: #000; background-color: #fff !important;" %>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  
  <!--==========================
    Frequently Asked Questions Section
  ============================-->
  <section id="faq" style="margin-bottom: -100px;">
    <div class="container">
      <header class="section-header">
        <h3>Frequently Asked<span class="text-primary"> Questions</span></h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </header>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">What is Brainstaq? <i class="ion-android-remove"></i></a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              Brainstaq is an online community to share, validate, and market your ideas, projects, insights and inspiration and attract cofounders and investors by engaging the power of the crowd. 
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">Who is Brainstaq for? <i class="ion-android-remove"></i></a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              Brainstaq is great for African entrepreneurs, startups, small businesses, organizations, and more - and for the sponsors and backers who want to support and collaborate with them. 
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">Can I use Brainstaq for free? <i class="ion-android-remove"></i></a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              You can set up an account for absolutely free. However, there are fees to accept funding. If you want to do crowdfunding and generate receipts, you need to pay the Brainstaq 10% platform fee. Payment processing fees are determined by the providers we use, Paystack. 
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">Does Brainstaq work for my country? <i class="ion-android-remove"></i></a>
          <div id="faq4" class="collapse" data-parent="#faq-list">
            <p>
              It works for all African countries. People can contribute from anywhere by credit card, with donations denominated in the currency of the creator. Payouts work everywhere our payment provider, Paystack serves. 
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">How is Brainstaq different from other platforms? <i class="ion-android-remove"></i></a>
          <div id="faq5" class="collapse" data-parent="#faq-list">
            <p>
              Brainstaq is different. It's fully transparent (you can see where money comes from and where it goes), and designed for African creators. 
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">How much does it cost? <i class="ion-android-remove"></i></a>
          <div id="faq6" class="collapse" data-parent="#faq-list">
            <p>
              Pricing is based on a small percentage commission on the total amount of funds raised through the platform, which is 10%.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">How can I contribute to Brainstaq? <i class="ion-android-remove"></i></a>
          <div id="faq6" class="collapse" data-parent="#faq-list">
            <p>
              We run as a Campaign ourselves. You can contribute money or translations. And we'd really love it if you shared your own idea and contributed by growing the community!

              For more info about how you can contribute to Brainstaq, contact us.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- #faq -->

</main>