<main style="padding-top: 150px;  background-color: #fff;">
  <div class="container col-lg-9">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag @idea.image_url, class: "img-fluid rounded mb-3 mb-md-0", style: "width:550px; height: 400px;" if @idea.image.present? %>
      </div>
      
      <div class="col-md-5 pl-0">
        <button type="button" class="btn btn-primary btn-sm my-3 float-right rounded-pill" disabled>
          <% if @idea.category %>
            <%= @idea.category.name %>
          <% else %>
            <%= 'General' %>
          <% end %>
        </button>
        <h3 class="card-title" style="margin-bottom: -3px; font-size: 32px; font-weight: bold;">
          <%= @idea.title %>
        </h3>
      
        <small>Created by <%= link_to (@idea.user.full_name), profile_path(@idea.user.username, @user) %> 
          on <%= local_time(@idea.created_at) %>
        </small>
        <p class="card-text mt-3 fr-view mb-3" style="font-size: 14px;">
          <%= truncate(sanitize(@idea.description, tags: []), length: 300) %>
        </p>
      
        <% if user_signed_in? %>
          <% if current_user.id == @idea.user_id %>
            <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mt-4 mr-2 mb-2", style: "font-size: 20px;"), 
                idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% if @idea.end_date.future? %>
              <%= link_to fa_icon("edit", title: "Edit Idea", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
                edit_idea_path(@idea) %>
            <% end %>     
            <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>  
          <% else %>
            <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>
          <% end %>
          <% if @idea.relevance_bar.to_i > 75 && @idea.expired? || @idea.relevance_bar.to_i < 75 && @idea.expired? %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Campaign Expired! <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;">Expired <%= time_ago_in_words(@idea.end_date) %> ago</small>
              </p> 
            </div>  
          <% elsif @idea.relevance_bar.to_i > 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-success mb-5" style="font-weight: bold;">Active Campaign <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
              </p>
            </div>
          <% elsif @idea.relevance_bar.to_i < 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Inactive Campaign <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
              </p>
            </div>
          <% end %>
        <% else %>
          <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>
          <%#= link_to fa_icon("share-alt", title: "Share", class: "text-primary mr-2", style: "font-size: 28px;")%>
          <% if @idea.relevance_bar.to_i > 75 && @idea.expired? || @idea.relevance_bar.to_i < 75 && @idea.expired? %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Campaign Expired! <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;">Expired <%= time_ago_in_words(@idea.end_date) %> ago</small>
              </p>
            </div>  
          <% elsif @idea.relevance_bar.to_i > 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-success mb-5" style="font-weight: bold;">Active Campaign <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
              </p>
            </div>
          <% elsif @idea.relevance_bar.to_i < 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Inactive Campaign <br>
                <small style="font-size: 11px;">N<%= @idea.donated_amount %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "N") %></small>
                | <small style="font-size: 11px;"><%= @idea.donors_count %> donors</small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
              </p>
            </div>
          <% end %>
        <% end %>
        
        <ul class="list-group list-group-horizontal-sm mt-4" style="font-size: 12px;">
          <li class="list-group-item"><span class="fa fa-comments"></span> <%= pluralize(@idea.comments.size, 'Comment') %></li>
          <li class="list-group-item"><span class="fa fa-eye"></span> <%= pluralize(@idea.impressionist_count, 'View') %></li>
          <li class="list-group-item"><span class="fa fa-heart"></span> <%= pluralize(@idea.get_likes.size, 'Like') %></li>
          <li class="list-group-item"><span class="fa fa-filter"></span> <%= "#{@idea.relevance_bar}%" %> Relevance</li>
        </ul>
      </div>
    </div>
  
    <div class="col-lg-9">
      <hr class="w-100 mt-5">
      <p>
        <a class="btn mt-0 mr-1" data-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
          Details
        </a>
      
        <!-- <a class="btn ml-1 mr-1" data-toggle="collapse" href="#collapseTeam" role="button" aria-expanded="false" aria-controls="collapseTeam" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
          Team
        </a> -->

        <a class="btn ml-1" data-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseComments" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;" >
          Comments (<%= @idea.comments.size %>)
        </a>

        <% if @idea.relevance_bar.to_i > 5 %>
          <% if !@idea.expired? %>
            <a class="btn ml-1 mr-1" data-toggle="collapse" href="#collapseSupport" role="button" aria-expanded="false" aria-controls="collapseUpdates" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
              Support this Idea
            </a>
          <% end %>
        <% end %>
      </p> 
    
      <div class="collapse mb-3" id="collapseDetails">
        <div class="card card-body">
          <h1 class="mt-2 mb-2"><%= @idea.title %></h1>
          <p class="lead mb-2">
            Created by <%= link_to (@idea.user.full_name), profile_path(@idea.user.username, @user) %>
          </p>
          <h6 class="mb-2">Posted on <%= local_time(@idea.created_at) %></h6>
          <hr>
          <%= image_tag @idea.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'100%' if @idea.image.present? %>
          <hr>
          <h4 class="mb-0" style="font-weight: bold;">Description</h4>
          <p class="mt-0 mb-0">
            <%= sanitize @idea.description %>
          </p>
          
          <h4 class="mb-0" style="font-weight: bold;">Problem</h4>
          <p class="mt-0 mb-0">
            <%= sanitize @idea.challenges %>
          </p>
          
          <h4 class="mb-0" style="font-weight: bold;">Solution</h4>
          <p class="mt-0 mb-0">
            <%= sanitize @idea.overview %>
          </p>

          <h4 class="mb-0" style="font-weight: bold;">Impact</h4>
          <p class="mt-0 mb-0">
            <%= sanitize @idea.impact %>
          </p>

          <h4 class="mb-0" style="font-weight: bold;">Funding Goal</h4>
          <p class="mt-0 mb-0">
            <%= number_to_currency(@idea.donation_goal, :unit => "N") %>
          </p>
        </div>
      </div>

      <div class="collapse mb-3" id="collapseSupport">
        <div class="card card-body">
          <h5 class="p-0" style="font-weight: bold;"> SELECT A PERK</h5>
          <hr>
          <% @idea.perks.each do |perk| %>
            <div class="p-0 mb-0">
              <h6 style="font-weight: bold;"><%= perk.title %></h6>
              <p class="pb-0 mb-0 text-sm text-danger italic border-b" style="font-weight: bold;">Only <%= perk.quantity %> left</p>
              <div class="py-2 text-gray-700" style="font-size: 14px;">
                <%= perk.description %>
              </div>

              <% if !user_signed_in? %>
                <h6 class="mt-1" style="font-size: 18px; font-style: italic;"> You must <strong>Login</strong> to support this idea. 
                  <%= link_to "Log In", new_user_session_path %> or 
                  <%= link_to "Create an Account", new_user_registration_path %> 
                </h6>
              <% else %>
                <% if user_signed_in? && perk.idea.user_id == current_user.id %>
                  <em class="block text-sm text-center" style="font-style: italic; font-weight: bold;" >
                    Sorry, You can't support your own idea
                  </em>
                <% else %>
                  <% if purchased_perk(perk) %>
                    <p class="block text-sm text-center" style="font-style: italic; font-weight: bold;" >
                      You're already subscribed to this perk, and have donated to this idea.</p>
                  <% else %>
                    <% if @idea.expired? %>
                      <p class="block text-sm text-danger text-center" style="font-weight: bold;" >
                        Campaign Expired <%= time_ago_in_words(@idea.end_date) %> ago</p>
                    <% else %>
                      <%= link_to "Support this idea with #{number_to_currency(perk.amount, :unit => "N")}", 
                    new_donation_path(amount: perk.amount, idea: @idea, perk: "#{perk.title.parameterize}-perk_#{perk.id}"), class: "btn btn1 btn-block text-white" %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
<!-- <div class="collapse mb-3" id="collapseTeam">
      <div class="card card-body">
        Project team goes here
      </div>
    </div> -->

    <div class="collapse mb-3" id="collapseComments">
      <div class="card card-body">
        <h5 style="font-weight: bold;">Recent Comments</h5>  
        <% if !user_signed_in? %>
          <h6 class="mt-1" style="font-size: 18px; font-style: italic;"> 
            You must <strong>Login</strong> to post a comment. 
            <%= link_to "Log In", new_user_session_path %> or 
            <%= link_to "Create an Account", new_user_registration_path %> 
          </h6>
        <% else %>
          <% if user_signed_in? %>
            <%= render partial: 'ideas/comment', collection: @idea.comments.reverse %>
            <%= render partial: 'comments/form', :locals => { :comment => @comment } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>