<main style="padding-top: 120px;  background-color: #fff;">
   <div class="container col-lg-9">

    <div class="card mb-3" style="max-width: 1000px; border: none;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag @idea.image_url, width:'100%' if @idea.image.present? %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title" style="margin-bottom: -3px;"><%= @idea.title %></h3>
            <small>Created by <%= link_to (@idea.user.full_name), profile_path(@idea.user.username, @user) %> on <%= local_time(@idea.created_at) %></small>
            <p class="card-text mt-3 mb-3"><%= truncate @idea.description, length: 200 %></p>
            
            <% if user_signed_in? && current_user.id == @idea.user_id %>
              <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mr-2"), idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to fa_icon("edit", title: "Edit", class: "text-primary mr-2"), edit_idea_path(@idea) %>
              <%= link_to fa_icon("share", title: "Share", class: "text-primary mr-2")%>
              <%= link_to fa_icon("donate", title: "Support this Project", class: "text-primary mr-2") %>

          <% else %>
          <%= link_to fa_icon("share", title: "Share", class: "text-primary mr-2")%>
          <%= link_to fa_icon("donate", title: "Support this Project", class: "text-primary mr-2") %>
      <% end %>
 
          </div>
        </div>
      </div>
    </div>

    <div class="delete">
      
      </div>

    <hr class="w-100">
    
    <p>
      <a class="btn mt-0 mr-1" data-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
        Details
      </a>
      <a class="btn ml-1 mr-1" data-toggle="collapse" href="#collapseUpdates" role="button" aria-expanded="false" aria-controls="collapseUpdates" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
        Updates
      </a>
      <a class="btn ml-1 mr-1" data-toggle="collapse" href="#collapseTeam" role="button" aria-expanded="false" aria-controls="collapseTeam" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;">
        Team
      </a>

      <a class="btn ml-1" data-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseComments" style = "text-transform: uppercase; font-size: 14px; font-weight: bold; background-color: #fff  !important;" >
        Comments
      </a>

    </p>
    <div class="collapse mb-3" id="collapseDetails">
      <div class="card card-body">
        Idea details goes here
      </div>
    </div>

    <div class="collapse mb-3" id="collapseUpdates">
      <div class="card card-body">
        Idea updates goes here
      </div>
    </div>

    <div class="collapse mb-3" id="collapseTeam">
      <div class="card card-body">
        Project team goes here
      </div>
    </div>

    <div class="collapse mb-3" id="collapseComments">
      <div class="card card-body">
        <h5 style="font-weight: bold;">RECENT COMMENTS<span class="label label-info"> (<%= @idea.comments.size %>)</span></h5>  
        <%= render partial: 'ideas/comment', collection: @idea.comments.reverse %>
        <%= render partial: 'comments/form', :locals => { :comment => @comment } %>
      </div>
    </div>
    
    

  </div>
</main>