<main style="padding-top: 150px; background-color: #fff;">
  <div class="container-fluid col-lg-10">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @idea.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'100%', height:'80%' if @idea.image.present? %>
      </div>
      
      <div class="container-fluid col-lg-6">
        <button type="button" class="btn btn-primary btn-sm my-3 float-right rounded-pill" disabled>
          <% if @idea.category %>
            <%= @idea.category.name %>
          <% else %>
            <%= 'General' %>
          <% end %>
        </button>
        <h3 class="card-title" style="margin-bottom: -3px; font-size: 30px; font-weight: bold;">
          <%= @idea.title.titleize %>
        </h3>
      
        <small>Created by <%= link_to (@idea.user.full_name.titleize), profile_path(@idea.user.username, @user) %> 
          on <%= local_time(@idea.created_at) %>
        </small>
        <p class="card-text">
          <%= truncate(sanitize(@idea.description, tags: []), length: 300) %>
        </p>
      
        <% if user_signed_in? %>
          <% if current_user.id == @idea.user_id %>
            <%= link_to fa5_icon("trash", title: "Delete", class: "text-danger mt-4 mr-2 mb-2", style: "font-size: 20px;"), 
                idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% if @idea.end_date.future? %>
              <%= link_to fa_icon("edit", title: "Edit Idea", class: "text-primary mr-2 mb-2", style: "font-size: 20px;"), 
                edit_idea_path(@idea) %>
            <% end %>     
            <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>  
          <% else %>
            <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>
          <% end %>
          <% if @idea.relevance_bar.to_i > 75 && @idea.expired? || @idea.relevance_bar.to_i < 75 && @idea.expired? %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Campaign Expired! <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;">
                  <%# if @idea.user_id == current_user.id %>
                    <%#= link_to (pluralize(@idea.donors_count, 'donor')), donations_path %>
                  <%# else %>
                    <%= pluralize(@idea.donors_count, 'donor') %>
                  <%# end %>
                </small>
                | <small style="font-size: 11px;">Expired <%= time_ago_in_words(@idea.end_date) %> ago</small>
                | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p> 
            </div>  
          <% elsif @idea.relevance_bar.to_i > 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-success mb-5" style="font-weight: bold;">Active Campaign <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;">
                  <%# if @idea.user_id == current_user.id %>
                    <%#= link_to (pluralize(@idea.donors_count, 'donor')), donations_path %>
                  <%# else %>
                    <%= pluralize(@idea.donors_count, 'donor') %>
                  <%# end %>
                  </small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
                | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p>
            </div>
          <% elsif @idea.relevance_bar.to_i < 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Inactive Campaign <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;">
                  <%# if @idea.user_id == current_user.id %>
                    <%#= link_to (pluralize(@idea.donors_count, 'donor')), donations_path %>
                  <%# else %>
                    <%= pluralize(@idea.donors_count, 'donor') %>
                  <%# end %>
                  </small>
                  | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
                  | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p>
            </div>
          <% end %>
        <% else %>
          <%#= social_share_button_tag('Share to Facebook', :url => idea_path(@idea), desc: @idea.title, :allow_sites => %w(facebook)) %>
          <%#= link_to fa_icon("share-alt", title: "Share", class: "text-primary mr-2", style: "font-size: 28px;")%>
          <% if @idea.relevance_bar.to_i > 75 && @idea.expired? || @idea.relevance_bar.to_i < 75 && @idea.expired? %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Campaign Expired! <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;"><%= pluralize(@idea.donors_count, 'donor') %></small>
                | <small style="font-size: 11px;">Expired <%= time_ago_in_words(@idea.end_date) %> ago</small>
                | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p>
            </div>  
          <% elsif @idea.relevance_bar.to_i > 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-success mb-5" style="font-weight: bold;">Active Campaign <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;"><%= pluralize(@idea.donors_count, 'donor') %></small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
                | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p>
            </div>
          <% elsif @idea.relevance_bar.to_i < 75 %>
            <div class="mt-3" style="margin-bottom: -30px;">
              <p class="text-danger mb-5" style="font-weight: bold;">Inactive Campaign <br>
                <small style="font-size: 11px;"><%= number_to_currency(@idea.donated_amount, :unit => "₦") %> raised of <%= number_to_currency(@idea.donation_goal, :unit => "₦") %></small>
                | <small style="font-size: 11px;"><%= pluralize(@idea.donors_count, 'donor') %></small>
                | <small style="font-size: 11px;"><%= distance_of_time_in_words_to_now(@idea.end_date) %> to go</small>
                | <small style="font-size: 11px;"><%= @idea.funding_percent %>% funded</small>
              </p>
            </div>
          <% end %>
        <% end %>
        
        <ul class="list-group list-group-horizontal-sm mt-4" style="font-size: 12px;">
          <li class="list-group-item"><span class="fa fa-comments"></span> <%= pluralize(@idea.comments.size, 'Comment') %></li>
          <li class="list-group-item"><span class="fa fa-eye"></span> <%= pluralize(@idea.impressionist_count, 'View') %></li>
          <li class="list-group-item"><span class="fa fa-heart"></span> <%= pluralize(@idea.get_likes.size, 'Like') %></li>
          <li class="list-group-item"><span class="fa fa-filter"></span> <%= "#{@idea.relevance_bar}%" %> Relevance</li>
        </ul>
      </div>
    </div>
  
    <div class="col-lg-8 mt-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link title-blk active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title-blk" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments (<%= @idea.comments.size %>)</a>
        </li>

        <%# if @idea.relevance_bar.to_i > 75 %>
          <%# if !@idea.expired? %>
            <li class="nav-item">
              <a class="nav-link title-blk" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
            </li>
          <%# end %>
        <%# end %>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          <div class="card card-body mt-5">
            <h1 class="mt-2 mb-2" style="font-size: 30px; font-weight: bold;">
              <%= @idea.title.titleize %>
            </h1>
            <p class="lead mb-2">
              Created by <%= link_to (@idea.user.full_name.titleize), profile_path(@idea.user.username, @user) %>
            </p>
            <h6 class="mb-3">Posted on <%= local_time(@idea.created_at) %></h6>
            
            <%= image_tag @idea.image_url, class: "img-fluid rounded mb-3 mb-md-0", width:'100%', height:'80%' if @idea.image.present? %>
          
            <h4 class="mb-0 mt-3" style="font-weight: bold;">Description</h4>
            <p class="mt-0 mb-0">
              <%= sanitize @idea.description %>
            </p>
          
            <h4 class="mb-0" style="font-weight: bold;">Problem</h4>
            <p class="mt-0 mb-0">
              <%= sanitize @idea.challenges %>
            </p>
          
            <h4 class="mb-0" style="font-weight: bold;">Solution</h4>
            <p class="mt-0 mb-0">
              <%= sanitize @idea.overview %>
            </p>

            <h4 class="mb-0" style="font-weight: bold;">Impact</h4>
            <p class="mt-0 mb-0">
              <%= sanitize @idea.impact %>
            </p>

            <h4 class="mb-0" style="font-weight: bold;">Funding Goal</h4>
            <p class="mt-0 mb-0">
              <%= number_to_currency(@idea.donation_goal, :unit => "₦") %>
            </p>
          </div>
        </div>
      
        <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
          <div class="card card-body mt-5">
            <h5 style="font-weight: bold;">Recent Comments</h5>  
            <% if !user_signed_in? %>
              <h6 class="mt-1" style="font-size: 18px; font-style: italic;"> 
                You must <strong>Login</strong> to post a comment. 
                <%= link_to "Log In", new_user_session_path %> or 
                <%= link_to "Create an Account", new_user_registration_path %> 
              </h6>
            <% else %>
              <% if user_signed_in? %>
                <%= render partial: 'ideas/comment', collection: @idea.comments.reverse %>
                <%= render partial: 'comments/form', :locals => { :comment => @comment } %>
              <% end %>
            <% end %>
          </div>
        </div>
        
        <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
          <div class="card card-body mt-5">
            <h5 class="p-0" style="font-weight: bold;"> SELECT DONATION CATEGORY</h5>
            <hr class="mt-0">
            <% @idea.perks.each do |perk| %>
              <div class="p-0 mb-0">
                <h6 style="font-weight: bold;"><%= perk.title %></h6>
                <p class="pb-0 mb-0 text-sm text-danger italic border-b" style="font-weight: bold;" hidden>Only <%= perk.quantity %> left</p>
                <div class="py-2 text-gray-700" style="font-size: 14px;">
                  <%= perk.description %>
                </div>
  
                <% if !user_signed_in? %>
                  <h6 class="mt-1" style="font-size: 18px; font-style: italic;"> You must <strong>Login</strong> to support this idea. 
                    <%= link_to "Log In", new_user_session_path %> or 
                    <%= link_to "Create an Account", new_user_registration_path %> 
                  </h6>
                <% else %>
                  <% if user_signed_in? && perk.idea.user_id == current_user.id %>
                    <em class="block text-sm text-center" style="font-style: italic; font-weight: bold;" >
                      Sorry, You can't support your own idea
                    </em>
                  <% else %>
                    <% if purchased_perk(perk) %>
                      <p class="block text-sm text-center" style="font-style: italic; font-weight: bold;" >
                        You're already donated to this idea.</p>
                    <% else %>
                      <% if @idea.expired? %>
                        <p class="block text-sm text-danger text-center" style="font-weight: bold;" >
                          Campaign Expired <%= time_ago_in_words(@idea.end_date) %> ago</p>
                      <% else %>
                        <%= link_to "Support this idea with #{number_to_currency(perk.amount, :unit => "₦")}", 
                      new_donation_path(amount: perk.amount, idea: @idea, perk: "#{perk.title.parameterize}-perk_#{perk.id}"), class: "btn btn1 btn-block text-white" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>