<header class="section-header mb-5" style="padding-top: 100px;">
  <h3>Edit <span class="text-primary">Account</span></h3>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<section class="profile-account-setting">
  <div class="container col-md-6">  
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
      </div>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div>
    
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
      </div>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    </div>
    
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
      </div>
      <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" style="font-weight: bold;">S.</span>
      </div>
      <%= f.select :gender, %w{Male Female}, {}, :prompt => 'Select', class: 'form-control' %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
      </div>
      <%= f.select :country, options_for_select([
          ['Algeria'],
          ['Angola'],
          ['Benin'],
          ['Botswana'],
          ['Burkina Faso'],
          ['Burundi'],
          ['Cape Verde'],
          ['Cameroon'],
          ['Central African Republic (CAR)'],
          ['Chad'],
          ['Comoros'],
          ['Republic of the Congo'],
          ['Democratic Republic of Congo'],
          ["Cote d'Ivoire"],
          ['Djibouti'],
          ['Egypt'],
          ['Equatorial Guinea'],
          ['Eritrea'],
          ['Eswatini (formerly Swaziland)'],
          ['Ethiopia'],
          ['Gabon'],
          ['Gambia'],
          ['Ghana'],
          ['Guinea'],
          ['Guinea-Bissau'],
          ['Kenya'],
          ['Lesotho'],
          ['Liberia'],
          ['Libya'],
          ['Madagascar'],
          ['Malawi'],
          ['Mali'],
          ['Mauritania'],
          ['Mauritius'],
          ['Morocco'],
          ['Mozambique'],
          ['Namibia'],
          ['Niger'],
          ['Nigeria'],
          ['Rwanda'],
          ['Sao Tome and Principe'],
          ['Senegal'],
          ['Seychelles'],
          ['Sierra Leone'],
          ['Somalia'],
          ['South Africa'],
          ['South Sudan'],
          ['Sudan'],
          ['Tanzania'],
          ['Togo'],
          ['Tunisia'],
          ['Uganda'],
          ['Zambia'],
          ['Zimbabwe']
          ]), {}, :class => 'form-control' %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
      </div>
      <%= f.number_field :phone, placeholder: "Phone Number", class: "form-control" %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-info-circle"></i></span>
      </div>
      <%= f.text_area :bio, placeholder: "Enter a brief description of yourself", class: "form-control" %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-globe"></i></span>
      </div>
      <%= f.text_field :website, placeholder: "Enter your website... e.g http://example.com", class: "form-control" %>
    </div>
    
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
      </div>
      <%= f.password_field :current_password, placeholder: "Enter your current password to confirm your changes", class: "form-control" %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
      </div>
      <%= f.password_field :password, placeholder: "Enter New Password", class: "form-control" %>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
      </div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", class: "form-control" %>
    </div>


    <div class="container ml-2">
      <% if @user.image_url %>
      <%= image_tag @user.image_url, style: "width: 32px;", class: "rounded-circle mr-2" %>
      <% else %>
      <%= image_tag 'avatar.png', style: "width: 32px;", class: "rounded-circle mr-2" %>
      <% end %>
      <p><small>Change Profile Photo</small></p>
      <div class="cpp-fiel">
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>
    <div class="save-stngs">
      <ul>
        <li><%= f.submit "Update Account", class: "btn btn1 rounded-pill text-white" %></li>
        <li><%= link_to "Cancel", :back, class: "btn btn1 rounded-pill text-white" %></li>
      </ul>
    </div><!--save-stngs end-->
    <% end %>
    <div class="acc-setting mb-5">
      <h3>Delete Account</h3>
        <p class="ml-4 mb-0">We are not happy to see you go. <br>Deleting your account 
          would delete all of your conversations and also remove you of Brainstaq's mailing list 
          and every other correspondences. <br> This action cannot be reversed.</p>
                  
        <div class="save-stngs">
          <ul>
            <li><%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn1 rounded-pill text-white" %></li>
          </ul>
        </div><!--save-stngs end-->
      </div><!--acc-setting end-->
    </div>
  </div>
</section>
