<article class="card-body mx-auto" style="max-width: 400px; padding-top: 150px;">
  <header class="section-header mb-5">
    <h3>Create <span class="text-primary"> Account</span></h3>
  </header>
  <!-- <p>
    <a href="#" class="btn btn-block btn-twitter"><i class="fab fa-twitter"></i>   Login via Twitter</a>
    <a href="#" class="btn btn-block btn-facebook"><i class="fab fa-facebook-f"></i>   Login via facebook</a>
  </p>
  <p class="divider-text">
    <span class="bg-light">OR</span>
  </p> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  </div>
  
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
    </div>
    <%= f.select :country, options_for_select([
          # ['Algeria'],
          # ['Angola'],
          # ['Benin'],
          # ['Botswana'],
          # ['Burkina Faso'],
          # ['Burundi'],
          # ['Cape Verde'],
          # ['Cameroon'],
          # ['Central African Republic (CAR)'],
          # ['Chad'],
          # ['Comoros'],
          # ['Republic of the Congo'],
          # ['Democratic Republic of Congo'],
          # ["Cote d'Ivoire"],
          # ['Djibouti'],
          # ['Egypt'],
          # ['Equatorial Guinea'],
          # ['Eritrea'],
          # ['Eswatini (formerly Swaziland)'],
          # ['Ethiopia'],
          # ['Gabon'],
          # ['Gambia'],
          # ['Ghana'],
          # ['Guinea'],
          # ['Guinea-Bissau'],
          # ['Kenya'],
          # ['Lesotho'],
          # ['Liberia'],
          # ['Libya'],
          # ['Madagascar'],
          # ['Malawi'],
          # ['Mali'],
          # ['Mauritania'],
          # ['Mauritius'],
          # ['Morocco'],
          # ['Mozambique'],
          # ['Namibia'],
          # ['Niger'],
          ['Nigeria']
          # ['Rwanda'],
          # ['Sao Tome and Principe'],
          # ['Senegal'],
          # ['Seychelles'],
          # ['Sierra Leone'],
          # ['Somalia'],
          # ['South Africa'],
          # ['South Sudan'],
          # ['Sudan'],
          # ['Tanzania'],
          # ['Togo'],
          # ['Tunisia'],
          # ['Uganda'],
          # ['Zambia'],
          # ['Zimbabwe']
          ]), {}, :class => 'form-control', :prompt => 'Select Country' %>
  </div>
  
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
    </div>
    <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-lock"></i></span>
    </div>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
  </div>
  
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-lock"></i></span>
    </div>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat Password" %>
  </div>
  <p>
    <small>By signing up, you agree to Brainstaq's 
      <%= link_to 'Terms of Service', pages_terms_path, class: 'para-font' %> and
      <%= link_to 'Privacy Policy', pages_privacy_path, class: 'para-font' %>
    </small>
  </p>
  
  <div class="form-group"><div class="form-group actions">
    <%= f.submit "CREATE ACCOUNT", class: "btn btn1 btn-block text-white" %>
  </div>
  <p class="text-center">Have an account?<%= render "devise/shared/links" %></p>
<% end %>
</article>
