<div class="form-group col-sm-12">
  <h6 style="font-weight: bold;">Your Comment</h6>

<%= form_for [@idea, @comment] do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul> 
    </div>
  <% end %>
  
  <%= form.text_area :body, id: :comment_body, class: "form-control", placeholder: "Enter Comment" %>
  <%= form.hidden_field :idea_id %>
  <div>
    <%= form.submit 'Post', class: "actions btn btn1 text-white mt-3" %>
  </div>
</div>
<% end %>