<main style="padding-top: 50px; background-color: #f2f2f2;">
  <div class="wrapper">
    <section class="cover-sec">
      <%= image_tag 'profile-bg2', style: "width: 100%; height: 250px;" %>
      <!-- <a href="#" title=""><i class="fa fa-camera"></i> Change Image</a> -->
    </section>
    <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3 pd-right-none no-pd">
                
                <div class="main-left-sidebar">
                  <div class="user_profile" style="margin-bottom: 98px;">
                    <div class="user-pro-img">
                      <% if @user.image.url %>
                      <%=image_tag @user.image.url, style: "width: 160px; height: 156px;", class: "rounded-circle" %>
                    <% else %>
                      <%= image_tag 'avatar', style: "width: 160px; height: 156px;", class: "rounded-circle" %>
                    <% end %>
                      <!-- <a href="#" title=""><i class="fa fa-camera"></i></a> -->
                    </div><!--user-pro-img end-->
                    <div class="user_pro_status">
                      <ul class="flw-status">
                        <li>
                          <span style="font-size: 14px;">followers</span>
                          <%= @user.total_following %>
                        </li>
                        <li>
                          <span style="font-size: 14px;">following</span>
                          <%= @user.total_followers %>
                        </li>
                      </ul>
                      
                      <div style="font-size: 12px;"><i class="fas fa-map-marker-alt"></i> <%= @user.country %></div>
                      
                      <div style="font-size: 12px;"><i class="fas fa-phone"></i>  <%= tel_to @user.phone if @user.phone.present? %></div>
                      
                      <div style="font-size: 12px;"><i class="fas fa-globe"></i>  <%= link_to @user.website if @user.website.present? %></div>
                        <div class="social-links mt-2">
                          <a href="#"><i class="fab fa-twitter m-2"></i></a>
                          <a href="#"><i class="fab fa-facebook m-2"></i></a>
                          <a href="#"><i class="fab fa-instagram m-2"></i></a>
                          <a href="#"><i class="fab fa-linkedin m-2"></i></a>
                        </div>
                    </div><!--user_pro_status end-->
                  </div><!--user_profile end-->          
                  
                  				  

                </div>
              </div>
              
              <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">
                  <div class="user-tab-sec">
                    <h3 style="font-size: 30px;"><%= @user.full_name %></h3>
                    <h4 style="font-size: 18px; color: #007bff;">@<%= @user.username %></h4>
                    <div class="star-descp">
                      <h5 style="font-weight: bold; margin-bottom: 3px;">About</h5>
                      <span class="mb-3" style="font-size: 14px;"><%= @user.bio %></span>
                      
                      <div class="progress mt-0" style="height: 10px; width: 100%;">
                        <div class="progress-bar" role="progressbar" style="width: <%= "#{@user.ideas.count + @user.comments.size}%" %>" aria-valuenow="<%= @user.ideas.count %>" 
                          aria-valuemin="0" aria-valuemax="100">
                          <small><%= "#{@user.ideas.size + @user.comments.size}%" %></small>      
                        </div>
                      </div>
                      
                      <div>
                        <p style="font-size: 12px; font-weight: bold;">User Rating</p>
                      </div>
                    </div><!--star-descp end-->
                    
                    <div class="tab-feed st2" style="text-align: center; margin-bottom: -10px; margin-top: -20px;">
                      <ul>
                        <li data-tab="feed-dd" class="active">
                          <a href="#" title="">
                            <i class="fas fa-lightbulb"></i>
                            <span>Ideas</span>
                          </a>
                          <span style="font-style: italic;"><%= (@user.ideas.count) %></span>
                        </li>
                        
                        <li data-tab="info-dd">
                          <a href="#" title="">
                            <i class="fas fa-users"></i>
                            <span>Teams</span>
                          </a>
                          <span style="font-style: italic;">0</span>
                        </li>
                        <li data-tab="saved-jobs">
                          <a href="#" title="">
                            <i class="fas fa-tasks"></i>
                            <span>Projects</span>
                          </a>
                          <span style="font-style: italic;">0</span>
                        </li>
  
                        <li data-tab="my-bidss">
                          <a href="#" title="">
                            <i class="fas fa-life-ring"></i>
                            <span>Campaigns</span>
                          </a>
                          <span style="font-style: italic;">0</span>
                        </li>
                        <hr>
                      </ul>
                    </div><!-- tab-feed end-->
                  </div><!--user-tab-sec end-->
               
            <div class="product-feed-tab current" id="feed-dd">
            <% if @user.ideas.count < 1 %>
              <p>No ideas to display!</p>
            <% end %>
            <% @user.ideas.each do |idea| %>
              <div class="posts-section">
                <div class="post-bar">
                  <div class="post_topbar">
                    <div class="usy-dt">
                      <% if @user.image_url %>
                      <%= image_tag @user.image_url, style: "width: 40px;", class: "rounded-circle ml-1" %>
                      <% else %>
                      <%= image_tag 'avatar', style: "width: 40px;", class: "rounded-circle ml-1" %>
                      <% end %>
                      <div class="usy-name">
                        
                        <h3><%= idea.user.full_name %></h3>
                      
                        <span class="ml-1"><i class="fas fa-clock mr-1"></i>Created on <%= local_time(idea.created_at) %></span>
                      </div>
                    </div>
                    <div class="dropdown ml-1 float-right" style="font-size: 20px;">
                      <a class="dropdown-toggle fas fa-ellipsis-v" href="#" role="button" id="dropdownMenuLink" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: 12px;">
                        <% if user_signed_in? && current_user.id == idea.user_id %>
                        <%= link_to "Edit Idea", edit_idea_path(idea), class: "dropdown-item" %>
                        <%= link_to "Delete", idea, :method => 'delete', data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                        <% end %>
                      
                        <% if "#{idea.impressions.size + idea.get_likes.size + idea.comments.size}".to_i > 75 %>
                        <%= link_to "Support this Project", "#", class: "dropdown-item" %>
                        <% end %>
                        <%= link_to "Share", "#", class: "dropdown-item" %>
                      </div>
                    </div>
                   
                    </div>
                    <div class="epi-sec">
                      <ul class="descp" style="font-size: 12px;">
                        <li><i class="fas fa-map-marker-alt"></i>  <%= idea.user.country %></li>
                        <li><i class="fas fa-list-alt"></i>
                          <% if idea.category %>
                          <%= idea.category %>
                          <% else %>
                          <%= 'General' %>
                          <% end %></li>
                      </ul>
                    </div>
                    <div class="job_descp">
                      <h3><%= link_to idea.title, idea, class: 'text-dark' %></h3>
                      <%= image_tag idea.image_url, style: "height: 150px; object-fit: cover;", class: "card-img-top" %>
                      <p class="mt-3 mb-0" style="font-size: 14px;"><%= truncate(sanitize(idea.description, tags: []), length: 200) %></p>
                    </div>
              
                    <div class="job-status-bar mt-1" style="margin-bottom: -15px;">
                       <ul class="like-com">
                        <li style="font-size: 12px;" href="#"><i class="fa fa-eye"></i> <%= pluralize(idea.impressionist_count, 'View') %></li> 
                        
                        <% if user_signed_in? %>
                        <% if current_user.liked? idea %>
                        <%= link_to unlike_idea_path(idea), method: :put, class: "unlike_idea" do %>
                          <li><i class="fa fa-heart text-primary vote_count"></i> <%= idea.get_likes.size %></li>
                        <% end %>
                        <% else %>
                        <%= link_to like_idea_path(idea), method: :put, class: "like_idea" do %>
                          <li class="mb-1" style="font-size: 12px;"><i class="fa fa-heart vote_count"></i> <%= idea.get_likes.size %></li>
                        <% end %>
                        <% end %>
                        <% else %>
                        <%= link_to like_idea_path(idea), method: :put, class: "like_idea" do %>
                          <li class="mb-1" style="font-size: 12px;"><i class="fa fa-heart vote_count"></i> <%= idea.get_likes.size %></li>
                        <% end %>
                        <% end %>

                        <li style="font-size: 12px;"><i class="fa fa-comments"></i>  <%= pluralize(idea.comments.size, 'Comment') %></li> 
                        <li style="font-size: 12px;" href="#"><i class="fas fa-share"></i>  0</li>
                      </ul>
                      <a style="font-size: 12px;"><i class="fa fa-filter"></i> 
                        Relevance: <strong>
                          <%= "#{idea.impressions.size + idea.get_likes.size + idea.comments.size}%" %>
                        </strong></a>
                    </div>
                    </div><!--post-bar end-->
                </div><!--posts-section end-->
              <% end %>
                  </div><!--product-feed-tab end-->
                  
                  <div class="product-feed-tab" id="info-dd">
                    <div><!-- 
                      <h3><a href="#" title="" class="overview-open">Team Matrix</a> <a href="#" title="" class="overview-open"> -->
                      <!-- <ol>
                          <li>
                              <h6 style="font-size: 14px;">Ettah Clifford Joe</h6>
                              <p class="text-muted">Leader</p>
                          </li>
                          <li>
                              <h6 style="font-size: 14px;">Annabel Tochukwu</h6>
                              <p class="text-muted">Member</p>
                          </li>
                          <li>
                              <h6 style="font-size: 14px;">Philip Morgan</h6>
                              <p class="text-muted">Member</p>
                          </li>
                      </ol> -->
                    </div><!--user-profile-ov end-->
  
                  </div><!--projects-feed-tab end-->
                  
                </div><!--main-ws-sec end-->
              </div>
              
              <div class="col-lg-3 pd-right-none no-pd">
                <div class="right-sidebar">
                 
                    <!--post-st end-->
  
                  
                  </div><!--widget-jobs end-->
  
                  
                </div><!--right-sidebar end-->
              </div>
            </div>
          </div><!-- main-section-data end-->
        </div> 
      </div>
    </main>
  </div>
  
  </main>