<!-- <header class="section-header mb-5" style="padding-top: 150px;">
  <h3 span class="text-primary">Donors</span></h3>
</header>

<div class="container-fluid mb-5" style="width: 1000px" class="mx-auto">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <table id="example" class="table table-hover responsive nowrap" style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Donor</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Idea</th>
            </tr>
          </thead>
          <tbody>
          <% User.all do |user| %>
            <tr>
              <td><%= @user.full_name %></td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="mr-3"><%= image_tag @user.image_url, 
                    style: "width: 60%;", class: "rounded-circle" if @user.image_url.present? %></div>
                  <div class="">
                    <p class="font-weight-bold mb-0"><%= link_to (@user.full_name), profile_path(@user.username) %></p>
                    <p class="text-muted mb-0"><%= @user.email %></p>
                  </div>
                </div>
              </td>
              <td><%= @donation.idea.amount %></td>
              <td><%= @user.donation.created_at %></td>
              <td><%= @donation.idea.title %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  /* body {
  background: #f7f7f7;
} */

.table {
  border-spacing: 0 0.85rem !important;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  padding-left: 48px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

table.dataTable {
  margin-top: 12px !important;
}

/* .avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
} */
</style> -->