<!--==========================
    Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2 style="margin-top: 170px;">Bring your ideas to life with <span> Brainstaq!</span></h2>
        <div>
      		<%= link_to 'Get Started', new_idea_path, class: "btn-get-started" %>
        </div>
      </div>

      <%= content_for :recaptcha_js do %>
        <%= include_recaptcha_js %>
      <% end %>
      
      <div class="col-lg-4 ml-auto form-box" data-aos="fade-up" data-aos-delay="500" style="margin-top: 120px; margin-bottom: 50px;">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <small><%= render "devise/shared/error_messages", resource: resource %></small>
          
          <h5 class="text-center" style="font-size: 16px;">Discover Disruptive Ideas<br>
            <span class="text-black" style="font-weight: bold; font-size: 22px;" > Join Now!</span>
          </h5>
          
          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
          </div>
          
          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
          </div>

          <%= recaptcha_action('sign_up') %>

          <div class="form-group">
            <%= f.select :country, options_for_select([
            ['Algeria'],
            ['Angola'],
            ['Benin'],
            ['Botswana'],
            ['Burkina Faso'],
            ['Burundi'],
            ['Cape Verde'],
            ['Cameroon'],
            ['Central African Republic (CAR)'],
            ['Chad'],
            ['Comoros'],
            ['Republic of the Congo'],
            ['Democratic Republic of Congo'],
            ["Cote d'Ivoire"],
            ['Djibouti'],
            ['Egypt'],
            ['Equatorial Guinea'],
            ['Eritrea'],
            ['Eswatini'],
            ['Ethiopia'],
            ['Gabon'],
            ['Gambia'],
            ['Ghana'],
            ['Guinea'],
            ['Guinea-Bissau'],
            ['Kenya'],
            ['Lesotho'],
            ['Liberia'],
            ['Libya'],
            ['Madagascar'],
            ['Malawi'],
            ['Mali'],
            ['Mauritania'],
            ['Mauritius'],
            ['Morocco'],
            ['Mozambique'],
            ['Namibia'],
            ['Niger'],
            ['Nigeria'],
            ['Rwanda'],
            ['Sao Tome and Principe'],
            ['Senegal'],
            ['Seychelles'],
            ['Sierra Leone'],
            ['Somalia'],
            ['South Africa'],
            ['South Sudan'],
            ['Sudan'],
            ['Tanzania'],
            ['Togo'],
            ['Tunisia'],
            ['Uganda'],
            ['Zambia'],
            ['Zimbabwe']
            ]), {}, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
          </div>

          <div class="form-group mb-2">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat Password" %>
          </div>
          
          <small>By signing up, you agree to Brainstaq's 
            <%= link_to 'Terms of Service', 'pages/terms', class: 'para-font' %> and
            <%= link_to 'Privacy Policy', 'pages/privacy', class: 'para-font' %> 
          </small>
          
          <div class="form-group"  style="margin-top: 10px; margin-bottom: 0px">
            <%= f.submit "Create Account", class: "btn btn1 btn-block text-white" %>
          </div>
        <% end %>
      </div><!-- col end-->
    </div><!-- row end-->
  </div><!-- container end-->
</section><!-- #intro -->

<!--==========================
  Trending Ideas Section
============================-->
<main id="main">
  <section id="why-us" class="mb-0">
    <div class="container-fluid">  
      <header class="section-header mt-3">
        <h3>Trending<span class="text-primary"> Ideas</span></h3>
        <p style="font-size: 18px;">We celebrate innovative ideas and projects with the 
          potential to disrupt ecosystems in Africa
        </p>
      </header>
    </div>
     
    <%= render partial: "layouts/ideas", locals: { ideas: @ideas} %>
    
    <div class="row justify-content-center mt-5">
      <div class="col-7 text-center"> 
        <% if @page > 0 %>
          <%= link_to 'Prev', root_path(page: @page - 1), class: "btn btn1 rounded-pill text-white mr-1" %>
        <% end %>
        <% if @ideas.count >= 3 %>
          <%= link_to 'Next', root_path(page: @page + 1), class: "btn btn1 rounded-pill text-white ml-1" %>
        <% end %>
      </div>
    </div>
  </section>
  <%= render partial: "layouts/counter" %>
  <%= render partial: "layouts/cta" %>

  <!--==========================
    Features Section
  ============================-->
  <section id="features">
    <div class="container">
      <div class="row feature-item">
        <div class="col-lg-6 wow fadeInUp">
          <%= image_tag 'features-1.svg', class: "img-fluid" %>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Are you an entrepreneur?<br>
            Seize the opportunities Brainstaq present!</h4>
          <p>
            Without adequate finances and funding, most of the ideas that can 
            change the African narrative are rarely able to break out from 
            being just an idea, let alone grow into a tangible business.
          </p>
          <p>
            Share your ideas, creations or insights with the public, get adequate exposure 
            and positive validations, get collaborators and raise the required funds to 
            make that idea a reality.
          </p>
          <p>
            Don’t watch that idea, project, or business disappear due to lack of funds. 
            Brainstaq will help you develop that business idea and build the resilience 
            needed to sustain your business over a period of time.
          </p>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <%= image_tag 'features-2.svg', class: "img-fluid" %>
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>It goes beyond sharing of ideas.<br>
            Brainstaq empowers disruptive African ideas!
          </h4>
          <p>
            We are on a mission to help empower creative and innovative 
            ideas and encourage development among African startups and small businesses.
          </p>
          <p>
            We believe every African entrepreneur should have the tools to create the 
            solutions of tomorrow. And Brainstaq is dedicated to make this happen! 
          </p>
          <p>
            With our user-friendly, ideas-sharing and crowdfunding platform, 
            African entrepreneurs can start, nurture and grow their desired businesses 
            sustainably. 
          </p>
        </div>  
      </div>
    </div>
  </section>
  
  <%= render partial: "layouts/faq" %>
  
</main>