
<!-- <div>
  <form id="pay-form">
    <input type="hidden" id="donor_id" name="donor_id" value="<%= current_user.id %>">
    <input type="hidden" id="idea_id" name="idea_id" value="<%= @idea.id %>">
    <input type="hidden" id="perk_id" name="perk_id" value="<%= params[:perk] %>">
    <input type="hidden" id="amount" name="amount" value="<%= params[:amount] %>">
    <input type="hidden" id="email" name="email" value="<%= current_user.email %>">
    <input type="hidden" id="phone" name="phone" value="<%= current_user.phone %>">
    <input type="hidden" id="fullname" name="fullname" value="<%= current_user.full_name %>">
    <p>
      <button class="btn btn1 text-white" type="submit" id="submit" onclick="payWithPaystack()"> 
        Donate <%= number_to_currency(params[:amount], :unit => "N") %>
      </button>
    </p>
  </form>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  var public_key = 'pk_test_dbc69abc1c9ab93762b8fa610c3628dda0231e3c';

  const email = document.getElementById('email').value;
  const amount = 100 * +document.getElementById('amount').value;
  const fullname = document.getElementById('fullname').value;
  const phone  = document.getElementById('phone').value;
  const donor_id  = document.getElementById('donor_id').value;
  const idea_id  = document.getElementById('idea_id').value;
  const perk_id  = document.getElementById('perk_id').value;
    
  payWithPaystack(email, amount, fullname, phone);

  function generateREF(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
      d += performance.now();
    }
    var ref = '<%= params[:idea] %>-xxxx-4xxx-<%= params[:perk] %>-xxxx'.replace(/[xy]/g, function(c) {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return ref;
  }
  
  function payWithPaystack(email, amount, fullname, phone){
    // var response_reference = undefined
    var handler = PaystackPop.setup({
      key:       public_key,
      email:     email,
      fullname:  fullname,
      phone:     phone,
      amount:    amount,
      ref:       generateREF(),
      // metadata:{
      //   donor_id: donor.id,
      //   idea_id: idea.id,
      //   perk_id: perk.id,
      //   amount: amount
      // },
      callback: function(response){
        var msg = 'Donation Successful! Transaction Reference: <b>"' + response.trxref + '"</b>';
        document.getElementById('alert-holder').innerHTML = '<div class="alert alert-success m-2 text-center">' + msg + '</div>';
        //document.getElementById("pay-form").reset();
      },
      
      onClose:  function(){
        var msg = 'Cancelled! Please click the \'Donate\' button to try again';
        document.getElementById('alert-holder').innerHTML = '<div class="alert alert-danger text-center">' + msg + '</div>';
      }
    });
    handler.openIframe();
  }
</script>
  -->


  <div>
    <form id="pay-form">
      <input type="hidden" id="donor_id" name="donor_id" value="<%= current_user.id %>">
    <input type="hidden" id="idea_id" name="idea_id" value="<%= @idea.id %>">
    <input type="hidden" id="perk_id" name="perk_id" value="<%= params[:perk] %>">
      <input type="hidden" id="idea" name="idea" value="<%= params[:idea] %>">
      <input type="hidden" id="perk" name="perk" value="<%= params[:perk] %>">
      <input type="hidden" id="amount" name="amount" value="<%= params[:amount] %>">
      <input type="hidden" id="email" name="email" value="<%= current_user.email %>">
      <input type="hidden" id="phone" name="phone" value="<%= current_user.phone %>">
      <input type="hidden" id="fullname" name="fullname" value="<%= current_user.full_name %>">
      <p>
        <button class="btn btn1 text-white" type="submit" id="submit" onclick="payWithPaystack()"> 
          Donate <%= number_to_currency(params[:amount], :unit => "₦") %>
        </button>
      </p>
    </form>
  </div>
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script>
    var public_key = 'pk_live_8bd5b07c673470ce971c9311fb8662243608e0d1';
    var response_reference = undefined
  
    const email = document.getElementById('email').value;
    const amount = 100 * +document.getElementById('amount').value;
    const fullname = document.getElementById('fullname').value;
    const phone  = document.getElementById('phone').value;
    const donor_id = document.getElementById('donor_id').value;
    const idea_id = document.getElementById('idea_id').value;
    const perk_id = document.getElementById('perk_id').value;
      
    payWithPaystack(email, amount, donor_id, idea_id, perk_id, response_reference, phone);
  
    function generateREF(){
      var d = new Date().getTime();
      if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();
      }
      var response_reference = '<%= params[:idea] %>-xxxx-4xxx-<%= params[:perk] %>-xxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
      });
      return response_reference;
    }
    
    function payWithPaystack(email, amount, donor_id, idea_id, perk_id, response_reference, phone){
      var response_reference = undefined
      var handler = PaystackPop.setup({
        key:       public_key,
        email:     email,
        donor_id: donor_id,
        idea_id: idea_id,
        perk_id: perk_id,
        phone:     phone,
        amount:    amount,
        response_reference: generateREF(),
        metadata: {
          donor_id: donor_id,
          idea_id: idea_id,
          perk_id: perk_id,
          amount: amount,
          response_reference: generateREF()
        },
        callback: function(response){
          var response_reference = undefined
  
          const email = document.getElementById('email').value;
          const amount = 100 * +document.getElementById('amount').value;
          const fullname = document.getElementById('fullname').value;
          const phone  = document.getElementById('phone').value;
          const donor_id = document.getElementById('donor_id').value;
          const idea_id = document.getElementById('idea_id').value;
          const perk_id = document.getElementById('perk_id').value;
          
          $.ajax({
              url:'/donations',
              type:'POST',
              dataType:'json',
              data:{
                response_reference: response_reference,
                email:     email,
                donor_id: donor_id,
                idea_id: idea_id,
                perk_id: perk_id,
                phone:     phone,
                amount:    amount,
                authenticity_token: window._token
              },
              success:function(data){
                console.log(data.success)
                console.log(data.user_fullname)
                console.log(data.result)
                $('.loader_image').hide()
                $('.success_msg').show();
                // $('#overlay').hide()
                $('.namer').text(data.user_fullname)
              },
              error:function(data){
                console.log(data)
                 $('.loader_image').hide();
                 // $('#overlay').hide()

              }
            });

          var msg = 'Donation Successful! Transaction Reference: <b>"' + response.trxref + '"</b>';
          document.getElementById('alert-holder').innerHTML = '<div class="alert alert-success m-2 text-center">' + msg + '</div>';
          //document.getElementById("pay-form").reset();
        },
        
        onClose:  function(){
          var msg = 'Cancelled! Please click the \'Donate\' button to try again';
          document.getElementById('alert-holder').innerHTML = '<div class="alert alert-danger text-center">' + msg + '</div>';
        }
      });
      handler.openIframe();
    }
  </script>