<!-- <style>

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.card button:hover {
  opacity: 0.7;
}
</style> -->

  <div>
    <%#= image_tag @idea.image_url, class: "img-fluid rounded mb-3 mb-md-0", style: "width:100%;" %>
    <form>
      <input type="hidden" name="idea" value="<%= params[:idea] %>">
      <input type="hidden" id="amount" name="amount" value="<%= params[:amount] %>">
      <input type="hidden" id="email" name="email" value="<%= current_user.email %>">
      <input type="hidden" id="phone" name="phone" value="<%= current_user.phone %>">
      
      <p>
        <button class="btn btn-block btn1 text-white" type="submit" id="submit"> 
          Donate <%= number_to_currency(params[:amount], :unit => "N") %> to <%= idea.title %> Campaign
        </button>
      </p>

    </form>
  </div>
  <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

<script>
document.addEventListener("DOMContentLoaded", (event) => {
  // Add an event listener for when the user clicks the submit button to pay
  document.getElementById("submit").addEventListener("click", (e) => {
    e.preventDefault();
    const PBFKey = "FLWPUBK_TEST-07496b219a30824e8c250b91e64f8c84-X"; // paste in the public key from your dashboard here
    const txRef = ''+Math.floor((Math.random() * 1000000000) + 1); //Generate a random id for the transaction reference
    const email = document.getElementById('email').value;
    const phone = document.getElementById('phone').value;
    const amount = document.getElementById('amount').value;
      
  // getpaidSetup is Rave's inline script function. it holds the payment data to pass to Rave.
  getpaidSetup({
      PBFPubKey: PBFKey,
      customer_email: email,
      amount: amount,
      customer_phone: phone,
      currency: "NGN",  // Select the currency. leaving it empty defaults to NGN
      txref: txRef, // Pass your UNIQUE TRANSACTION REFERENCE HERE.
  
      onclose: function() {},
      callback: function(response) {
          flw_ref = response.tx.flwRef;// collect flwRef returned and pass to a server page to complete status check.
          console.log("This is the response returned after a charge", response);
          if(response.tx.chargeResponse =='00' || response.tx.chargeResponse == '0') {
          // redirect to a success page
          } else {
          // redirect to a failure page.
          }
      }
    });
  });
});
</script>