<div>
  <form id="pay-form">
    <input type="hidden" id="idea" name="idea" value="<%= params[:idea] %>">
    <input type="hidden" id="perk" name="perk" value="<%= params[:perk] %>">
    <input type="hidden" id="amount" name="amount" value="<%= params[:amount] %>">
    <input type="hidden" id="email" name="email" value="<%= current_user.email %>">
    <input type="hidden" id="phone" name="phone" value="<%= current_user.phone %>">
    <input type="hidden" id="fullname" name="fullname" value="<%= current_user.full_name %>">
    <p>
      <button class="btn btn1 text-white" type="submit" id="submit" onclick="payWithPaystack()"> 
        Donate <%= number_to_currency(params[:amount], :unit => "N") %>
      </button>
    </p>
  </form>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  var public_key = 'pk_test_dbc69abc1c9ab93762b8fa610c3628dda0231e3c';

  const email = document.getElementById('email').value;
  const amount = 100 * +document.getElementById('amount').value;
  const fullname = document.getElementById('fullname').value;
  const phone  = document.getElementById('phone').value;
    
  payWithPaystack(email, amount, fullname, phone);

  function generateREF(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
      d += performance.now();
    }
    var ref = '<%= params[:idea] %>-xxxx-4xxx-<%= params[:perk] %>-xxxx'.replace(/[xy]/g, function(c) {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return ref;
  }
  
  function payWithPaystack(email, amount, fullname, phone){
    var handler = PaystackPop.setup({
      key:       public_key,
      email:     email,
      fullname:  fullname,
      phone:     phone,
      amount:    amount,
      ref:       generateREF(),
      
      callback:  function(response){
        var msg = 'Success! Reference: <b>"' + response.trxref + '"</b>';
        document.getElementById('alert-holder').innerHTML = '<div class="alert alert-success text-center">' + msg + '</div>';
        // document.getElementById("pay-form").reset();
      },
      
      onClose:  function(){
        var msg = 'Cancelled! Please click the \'Donate\' button to try again';
        document.getElementById('alert-holder').innerHTML = '<div class="alert alert-danger text-center">' + msg + '</div>';
      }
    });
    handler.openIframe();
  }
</script>

