<%= form_with model: current_user, local: true, url: subscription_url, method: :post, html: { id: "payment-form", class: "stripe-form" }  do |form| %>
  <div>
    <h4 class="font-bold text-center">Credit or Debit card</h4>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert" class="text-sm text-red-400"></div>
      <input type="hidden" name="plan" value="<%= params[:plan] %>">
      <input type="hidden" name="idea" value="<%= params[:idea] %>">
    <button class="btn btn1 btn-block text-white">Donate <%= number_to_currency(params[:amount], :unit => "N") %> to <em><%= idea.title %> campaign</em></button>
  </div>
<% end %>
