<header class="section-header mb-5" style="padding-top: 150px;">
  <h3><%= @user.first_name %>'s <span class="text-primary">Followers</span></h3>
</header>

<% if @user.followers.count < 1 %>
  <p class="text-center text-primary" style="font-size: 18px; font-weight:bold; font-style:italic;">
    You don't have any followers yet!
  </p>
<% end %>
<div class="container-fluid mb-5" style="width: 1000px" class="mx-auto">
  <div>
    <div>
        <% @user.followers.each do |follower| %>
        <div>
          <% if follower.image.url %>
            <%=image_tag follower.image.url, class: 'rounded-circle mr-2 ml-2', style:"width:28px; height: 28px;" %>
          <% else %>
            <%= image_tag 'avatar.png', class: 'rounded-circle mr-2 ml-2', style:"width:28px; height: 28px;" %>
          <% end %>
          <div class="mb-2">
            <h4 class="mb-0" style="font-size: 24px;"><%= link_to follower.full_name, profile_path(follower.username), class: 'text-dark' %></h4>
            <span class="ml-5" style="font-size: 14px; color: #007bff;">@<%= follower.username %></span>  
            <span>
              <%= link_to "View", profile_path(follower.username), class: "btn btn rounded-pill text-white float-right", style: "font-size: 12px;" %>
            </span>
          </div>
          <hr>
        </div>
        <% end %>
    </div>
  </div>  
</div>

