<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Donation goal:</strong>
  <%= @campaign.donation_goal %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user_id %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @campaign.idea_id %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
