<div class="main-left-sidebar no-margin"  style="width: 280px;">			
  <div class="suggestions full-width">
    
    <div class="sd-title">
      <h6 style="font-weight: bold; text-align: center;">Follow creative minds</h6>
    </div><!--sd-title end-->
    
    <% @follower_suggestions.each do |user| %>
    <div class="suggestions-list">
      <div class="suggestion-usd" style="margin-bottom: -55px;">
        
        <% if user.image.url %>
        <%=image_tag (user.image_url), style: "width: 35px; height: 35px;", class: " rounded-circle" %>
        <% else %>
          <%= image_tag 'avatar', style: "width: 35px; height: 35px;", class: "rounded-circle ml-1" %>
        <% end %>



         

        <div class="sgt-text">
          <h4><%= link_to user.full_name, profile_path(user.username), class: 'text-dark' %></h4>
          <span style="font-size: 10px;" class= "text-dark"><%= user.country %></span>
          <p style="font-size: 10px;"><%= user.created_at > 2.days.ago ? "New to Brainstaq" : "Followed by X Users" %></p>
        </div>
        <span>
          <%= form_tag follow_user_path, method: :post, class: "float-right" do %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= submit_tag "Follow", class: "btn btn-sm text-white" %>
        <% end %>
        </span>
      </div>
    </div>
    <% end %>
<!--     
      <div class="view-more mb-4 mt-3">
        <a href="#" title="">View More</a>
      </div> -->
    </div><!--suggestions-list end-->
  </div><!--suggestions end-->						  
</div><!--main-left-sidebar end-->