<div class="main-left-sidebar no-margin" style="width: 280px;">			
  <div class="suggestions full-width">
    
    <div class="sd-title">
      <h6 style="font-weight: bold; text-align: center;">Follow Creative Minds</h6>
    </div><!--sd-title end-->
    
    <% @follower_suggestions.each do |user| %>
    <div class="suggestions-list">
      <div class="suggestion-usd" style="margin-bottom: -55px;">
        
        <% if user.image.url %>
          <%=image_tag (user.image_url), style: "width: 35px; height: 35px;", class: "rounded-circle" %>
        <% else %>
          <%= image_tag 'avatar.png', style: "width: 35px; height: 35px;", class: "rounded-circle ml-1" %>
        <% end %>

        <div class="sgt-text">
          <h4><%= link_to user.full_name, profile_path(user.username), class: "text-primary" %></h4>
          <span style="font-size: 12px; font-weight: bold;" class= "text-dark"><%= user.country %></span>
          <% if user.created_at > 2.days.ago %>
            <p style="font-size: 10px;">New to Brainstaq</p>
          <% else %>
            <p style="font-size: 10px;">Followed by <%= pluralize(user.total_following, "user") %></p>
          <% end %>
        </div> 
        <span>
          <%#= link_to "View", profile_path(user.username), class: "btn btn-sm rounded-pill text-white", style: "font-size: 12px;" %>
        </span>
        
      
      </div>
      
    </div>
    
    <% end %>
<!--     
      <div class="view-more mb-4 mt-3">
        <a href="#" title="">View More</a>
      </div> -->
    </div><!--suggestions-list end-->
    
  
  </div><!--suggestions end-->						  
</div><!--main-left-sidebar end-->