<footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                  <div class="footer-info">
                    <h3>About <br><span class="text-primary">Brainstaq</span></h3>
                    <p style="font-size: 14px;">Brainstaq empowers innovative African ideas and encourage development. Share, validate, and market your ideas, projects, insights and inspiration and attract cofounders and investors by engaging the power of the crowd.</p>
                  </div>

                  <div class="footer-newsletter">
                    <% if cookies[:saved_subscriber] %>
                      Thanks for signing up!
                    <% else %>
                      <h4>Subscribe</h4>
                        <p>Subscribe to be kept in the loop of amazing offers from Brainstaq. We will not share your email with the public without your consent.</p>
                        <%= form_for Subscriber.new do |f| %>
                          <%= f.email_field :email, placeholder: "Enter your email" %><%= f.submit "Subscribe" %>
                        <% end %>
                    <% end %>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Platform</h4>
                    <ul>
                      <li><%= link_to 'About', pages_about_path, class: 'para-font' %></li>
                      <li><%= link_to 'Career', pages_career_path, class: 'para-font' %></li>
                      <li><%= link_to 'Help', pages_help_path, class: 'para-font' %></li>
                      <li><%= link_to 'Terms of Service', pages_terms_path, class: 'para-font' %></li>
					            <li><%= link_to 'Privacy Policy', pages_privacy_path, class: 'para-font' %></li>
				           	</ul>
                  </div>
                  
                  
                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      86, Airport Road, Effurun,<br>
                      Delta State. Nigeria<br> 
                      <strong>Phone:</strong> <%= tel_to '+234 806 836 3644' %><br>
                      <strong>Email:</strong> <%= mail_to 'info@brainstaq.com' %><br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Leave a Message</h4>
              <p>If you've got any question, complain or you want to suggest a feature that 
                you would like to be implemented, drop us a message using the form below.
              </p>
              <%= form_for :contact, url: contact_index_path do |f| %>
                <div class="form-group">
                  <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Your Name" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, required: true, class: "form-control", placeholder: "Your E-mail Address" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :subject, required: true, class: "form-control", placeholder: "Subject" %>
                </div>
                <div class="form-group mb-3">
                  <%= f.text_area :message,
                    rows: 8,
                    cols: 40,
                    required: true,
                    class: "form-control",
                    placeholder: "Your Message"%>
                </div>

                <div>
                  <%= f.hidden_field :nickname %>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                
                <div class="text-center">
                  <%= f.submit 'Send Message', class: 'btn btn-primary text-white rounded-pill' %>
                </div>  
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright &copy; <strong>Brainstaq</strong>.
        <%= Time.now.year %> 
        All rights reserved | KOBU Innovative Solutions
      </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>