<div class="widget widget-jobs" style="width: 280px;">
  <div class="sd-title">
    <h6 style="font-weight: bold; text-align: center;">Trending Ideas</h6>
  </div>

  <% @ideas.sort_by{|idea| - idea.impressions.size.to_i}.first(10).each do |idea| %>  
    <div class="suggestions-list" style="padding-bottom: 60px;">
      <div class="suggestion-usd" style="margin-bottom: -60px;">
        <%= image_tag idea.image_url, style: "width: 50px; height: 50px; margin-left: -5px; margin-right: 5px;"  %>
        <div class="sgt-text">
          <h4><%= link_to idea.title, idea, class: 'text-dark' %></h4>
          <span>
            <% if idea.category %>
            <%= idea.category.name %>
            <% else %>
            <%= 'General' %>
            <% end %>
          </span><br>
          <span style="color: #47add5;">Relevance <%= "#{idea.relevance_bar}%" %></span>
        </div>
      </div> 
    </div>
  <% end %>
</div>