<!DOCTYPE html>
<html>
  <head>
    <title>Brainstaq | Share and Discover Disruptive Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: "layouts/user_header" %>
    <% else %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
     <%= render partial: "layouts/footer" %>
  </body>
</html>
