<!DOCTYPE html>
<html>
  <head>
    <title>Brainstaq | Share and Discover Disruptive Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= tinymce_assets %>
    <!-- <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" /> -->
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <!-- <script type="text/javascript" src = "../../assets/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src = "../../assets/third_party/font_awesome.min.js"></script>
    <script type="text/javascript" src = "../../assets/third_party/embedly.min.js"></script>
    <script type="text/javascript" src = "../../assets/third_party/image_tui.min.js"></script>
    <script type="text/javascript" src = "../../assets/third_party/spell_checker.min.js"></script> -->

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <%= notice %>
  <% end %>
    <% if user_signed_in? %>
      <%= render partial: "layouts/user_header" %>
    <% else %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
     <%= render partial: "layouts/footer" %>
  </body>
</html>
